<html class="bg-gray-800">
    <head>
        {{ template "common-head" . }}
    </head>
    {{ template "branding-banner" . }}
    <main class="container mx-auto p-4">
        <h1 class="text-5xl text-white font-bold mb-10 tracking-wide">{{.Heading}}</h1>
        <div class="flex flex-wrap gap-2">
            {{range .Tiles}}
                <a class="flex flex-col p-4 max-w-xs bg-green-900 hover:bg-green-700 text-white rounded-sm filter drop-shadow-md" href="{{.Url}}">
                    <div>
                        <p class="font-bold text-lg">{{.Heading}}</p>
                        <p class="mt-1 text-gray-200">{{.Description}}</p>
                    </div>
                </a>
            {{end}}
        </div>
    </main>
</html>
